
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:green;
    background-color:white;
}

label{

float: left;

}



input {
   
    height: 20px;
     
    margin-left: 1cm;
    border: 1px solid #000;
    
    
   }
   #Year{
float: inline-start;
width: 500px;

   }

   #instructor{
       width: 250px;
   }
   .collapsible {
    background-color:green ;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .collapsible:after {
    content: '\002B';
    color:white;
    font-weight: bold;
    float: right;

    margin-left: 5px;
}.active:after {
  background-color:green;
  content: "\2212"; 
}
  .active, .collapsible:hover {
    background-color: green;
    padding: 18px;
    width: 100%;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color:hsla(hue, saturation, lightness, alpha);
  }
  #submitbutt
{
  width: 150px;
  text-align: center;
  margin: 200px; 


}